<!DOCTYPE html>
<html>
<head>
  <title>FrozenBananaStand<title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property=”title” content=”<%= Rails.application.class.parent_name %>”/>
  <meta property=”description” content=””/>
  <meta property=”url” content=””/>
  <meta property="og:image" content=""/>
  <meta property="og:title" content="<%= Rails.application.class.parent_name %>"/>
  <meta property="og:url" content="[url]"/>
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="<%= Rails.application.class.parent_name %>"/>

  <!-- Google Chrome Frame for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- mobile meta (hooray!) -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>

  <!-- icons & favicons (for more: http://themble.com/support/adding-icons-favicons/) -->
  <!-- <link rel="shortcut icon" href="/favicon.png" type="image/png"> -->
  <!-- <link rel="image_src" type="image/jpeg" href="/library/images/logo-360x360.png" /> -->

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-32x32-precomposed.png">

  <!-- Bugherd here -->
  <!-- end Bugherd -->
  <!-- Google analytics here -->
  <!-- end Google analytics -->  
</head>

<body class="controller-<%= controller.controller_name.dasherize %> action-<%= controller.action_name.dasherize %>">
  <% if notice %>
  <div class="temp alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= notice %>
  </div>
  <% end %>

  <% if alert %>
  <div class="temp alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= alert %>
  </div>
  <% end %>

  <%= yield %>
</body>
</html>

